doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='css/Library/bootstrap.min.css')
  link(rel='stylesheet', href='css/Library/bootstrap-theme.min.css')
  link(rel='stylesheet', href='css/CSS-code/header.css')
  link(rel='stylesheet', href='css/CSS-code/footer.css')
  link(rel='stylesheet', href='css/CSS-code/back-to-top.css')
  link(rel='stylesheet', href='css/CSS-code/admin.css')
  link(rel='shortcut icon', href='img/logo/favicon.ico', type='image/x-icon')
  script(src='js/Library/jquery-3.3.1.min.js')
  script(src='js/Library/bootstrap.min.js')
  script(src='js/JS-code/js-pages.js')
  script(src='js/JS-code/back-to-top.js')
  script(src='js/Library/axios.min.js')
  script(src='js/Library/js.cookie.min.js')
  script(src='js/JS-code/login.js')
  script(src='js/JS-code/checkLogin.js')
  script(src='js/JS-code/admin-crud.js')
  script(src='js/JS-code/delete-data.js')
  
  title FAHASA.com
include header

include login
// CONTENT
br
#admin-crud.hidden-md.hidden-xs.hidden-sm
  .container
    .link-top
      ul.nav.nav-pills
        li.active
          a(href='#admin-page', data-toggle='pill') ADMIN PAGE
        li
          a(href='#theloai', data-toggle='pill') THỂ LOẠI SÁCH
        li
          a(href='#khosach', data-toggle='pill') KHO SÁCH
        li
          a(href='#user', data-toggle='pill') NGƯỜI DÙNG
        li
          a(href='#nhanxet', data-toggle='pill') NHẬN XÉT CỦA NGƯỜI DÙNG
    .tab-content
      #admin-page.tab-pane.fade.in.active
        .text-center
          br
          br
          br
          h1 Hello ADMIN!
          h3 Chúc bạn một ngày làm việc vui vẻ!
          br
          br
          br
      #theloai.tab-pane.fade
        h5.text-center
          a.btn.btn-md.btn-success(href='/add-theloai') THÊM MỚI THỂ LOẠI
        table#render-theloai.tb-theloai
          tr
            th Mã Thể Loại
            th Tên Thể Loại
            th Action
          tr
            td
            td
            td
              a.btn.btn-sm.btn-warning(href='edit-theloai.html') EDIT
              a.btn.btn-sm.btn-danger(href='') DELETE
      #khosach.tab-pane.fade
        h5.text-center
          a.btn.btn-md.btn-success(href='/add-sach') THÊM MỚI SÁCH
        table#render-book.tb-khosach
          tr
            th ID Sách
            th Tên Sách
            th Giá
            th Tên Tác Giả
            th Hình Thức
            th Số Trang
            th Mã Thể Loại
            th Action
          tr
            td
            td
            td
            td
            td
            td
            td
            td
              a.btn.btn-sm.btn-warning(href='edit-sach.html') EDIT
              a.btn.btn-sm.btn-danger(href='') DELETE
      #user.tab-pane.fade
        h5.text-center
          a.btn.btn-md.btn-success(href='/add-admin') THÊM ADMIN
        table#render-users.tb-khosach
          tr
            th Email
            th Họ Tên
            th Giới Tính
            th Quyền Truy Cập
            th Action
          tr
            td
            td
            td
            td
            td
              a.btn.btn-sm.btn-warning(href='edit-user.html') EDIT
              a.btn.btn-sm.btn-danger(href='') DELETE
      #nhanxet.tab-pane
        br
        table#render-feedback.tb-khosach
// /CONTENT
include footer