doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='css/Library/bootstrap.min.css')
  link(rel='stylesheet', href='css/Library/bootstrap-theme.min.css')
  link(rel='stylesheet', href='css/CSS-code/header.css')
  link(rel='stylesheet', href='css/CSS-code/footer.css')
  link(rel='stylesheet', href='css/CSS-code/back-to-top.css')
  link(rel='shortcut icon', href='img/logo/favicon.ico', type='image/x-icon')
  link(rel='stylesheet', href='css/CSS-code/cart.css')
  script(src='http://www.google.com/jsapi')
  script(src='js/Library/jquery-3.3.1.min.js')
  script(src='js/Library/bootstrap.min.js')
  script(src='js/Library/owl.carousel.min.js')
  script(src='js/JS-code/js-home.js')
  script(src='js/JS-code/js-pages.js')
  script(src='js/JS-code/owl-slide.js')
  script(src='js/JS-code/back-to-top.js')
  script(src='js/Library/axios.min.js')
  script(src='js/Library/js.cookie.min.js')
  script(src='js/JS-code/login.js')
  script(src='js/JS-code/render.js')
  script(src='js/JS-code/checkLogin.js')
  script(src='js/JS-code/cart.js')

  title FAHASA.com
include header

include login
// CONTENT
#content-cart.hidden-xs
  .container
    h1.giohang GI&#x1ECE; H&Agrave;NG
    br
    table#render-cart
      tr
        th Gỡ Bỏ
        th Hình Ảnh
        th Tên Sản Phẩm
        th Giá
        th Số Lượng
        th Thành Tiền
      tr
        td
          a.btn.btn-danger(href='')
            span.glyphicon.glyphicon-remove
        td
          img.img-cart(src='../uploads/images/sachtiengviet/chungtadauchisongchoriengminh.jpg')
        td Ch&uacute;ng Ta &Dstrok;&acirc;u Ch&#x1EC9; S&#x1ED1;ng Cho Ri&ecirc;ng M&igrave;nh
        td 80.000&dstrok;
        td
          input(type='number', min='0', name='soluong')
        td 80.000&dstrok;
    br
    .text-center
      a.btn.btn-warning(href='/') Mua Thêm
    br
    .row
      .col-sm-6
        a(href='')
          img.img-responsive(src='../uploads/images/quangcao/REVIEW-596x230.jpg')
      .col-sm-6
        .tong
          .title
            span Giỏ hàng
          br
          #bill.text-right
            strong TỔNG SỐ TIỀN &nbsp;
            span 80.000&dstrok;
            br
            br
            a.btn.btn-success(href='') THANH TOÁN
// /CONTENT
include footer