// FOOTER
#footer.hidden-xs
  .container
    .footer1
      .row
        .col-md-3.col-sm-2
        .col-md-6.col-sm-8
          .title
            span &Dstrok;&Abreve;NG K&Yacute; NH&#x1EAC;N B&#x1EA2;NG TIN
          form(action='', method='post')
            .input-group
              .input-group-addon
                span.glyphicon.glyphicon-pencil
              input.form-control(type='text', name='dangkiemail', placeholder='Your email', autocomplete='off')
              .input-group-btn
                button.btn.btn-info(type='submit') &Dstrok;&abreve;ng k&yacute;
        .col-md-3.col-sm-2
    .footer2-3
      .footer2
        .row
          .col-md-3.col-sm-6
            span.title D&#x1ECA;CH V&#x1EE4;
            ul.nav
              li
                a(href='') &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
              li
                a(href='') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
              li
                a(href='') Gi&#x1EDB;i thi&#x1EC7;u Fahasa
              li
                a(href='') H&#x1EC7; th&#x1ED1;ng trung t&acirc;m - nh&agrave; s&aacute;ch
          .col-md-3.col-sm-6
            span.title H&#x1ED6; TR&#x1EE2;
            ul.nav
              li
                a(href='') Ch&iacute;nh s&aacute;ch &dstrok;&#x1ED5;i tr&#x1EA3; - ho&agrave;n ti&#x1EC1;n
              li
                a(href='') Ch&iacute;nh s&aacute;ch kh&aacute;ch s&#x1EC9;
              li
                a(href='') Ph&#x1B0;&#x1A1;ng th&#x1EE9;c v&#x1EAD;n chuy&#x1EC3;n
              li
                a(href='') Ph&#x1B0;&#x1A1;ng th&#x1EE9;c thanh to&aacute;n
          .col-md-3.col-sm-6.cotduoi
            span.title T&Agrave;I KHO&#x1EA2;N C&#x1EE6;A T&Ocirc;I
            ul.nav
              li
                a(href='') &Dstrok;&abreve;ng nh&#x1EAD;p/T&#x1EA1;o m&#x1EDB;i t&agrave;i kho&#x1EA3;n
              li
                a(href='') Thay &dstrok;&#x1ED5;i &dstrok;&#x1ECB;a ch&#x1EC9; kh&aacute;ch h&agrave;ng
              li
                a(href='') Chi ti&#x1EBF;t t&agrave;i kho&#x1EA3;n
              li
                a(href='') L&#x1ECB;ch s&#x1EED; mua h&agrave;ng
          .col-md-3.col-sm-6.cotduoi
            span.title LI&Ecirc;N H&#x1EC6;
            ul.nav
              li
                a(href='')
                  span.glyphicon.glyphicon-map-marker.icon
                  strong &Dstrok;&#x1ECB;a ch&#x1EC9;: 
                  | Q1 - TP. HCM
              li
                a(href='')
                  span.glyphicon.glyphicon-envelope.icon
                  strong Email: 
                  | info@fahasa.com
              li
                a(href='')
                  span.glyphicon.glyphicon-earphone.icon
                  strong Phone: 
                  | 1900636467
      br
      .footer3
        .row
          .col-sm-4
            .logo
              img.img-responsive(src='uploads/images/footer/logo.png')
            .text
              span L&#x1EA7;u 7, 387-389 Hai B&agrave; Tr&#x1B0;ng Qu&#x1EAD;n 3 TP HCM
              br
              span C&ocirc;ng Ty C&#x1ED5; Ph&#x1EA7;n Ph&aacute;t H&agrave;nh S&aacute;ch TP HCM - FAHASA
              br
              span 60 - 62 L&ecirc; L&#x1EE3;i, Qu&#x1EAD;n 1, TP. HCM, Vi&#x1EC7;t Nam
              br
              span
                | Fahasa.com nh&#x1EAD;n &dstrok;&#x1EB7;t h&agrave;ng tr&#x1EF1;c tuy&#x1EBF;n v&agrave; giao h&agrave;ng t&#x1EAD;n n&#x1A1;i,
                | v&agrave; KH&Ocirc;NG h&#x1ED7; tr&#x1EE3; mua v&agrave; nh&#x1EAD;n h&agrave;ng tr&#x1EF1;c ti&#x1EBF;p t&#x1EA1;i v&abreve;n ph&ograve;ng ho&#x1EB7;c trung t&acirc;m x&#x1EED; l&yacute; &dstrok;&#x1A1;n h&agrave;ng t&#x1EA1;i &dstrok;ia ch&#x1EC9; tr&ecirc;n.
            div
              a(href='')
                img.img-footer(src='uploads/images/footer/logo-da-thong-bao.png')
          .col-sm-4
            .row
              .col-sm-2
              .col-sm-10
                .row
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/Facebook-on.png')
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/Insta-on.png')
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/Youtube-on.png')
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/tumblr-on.png')
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/twitter-on.png')
                  .col-sm-2
                    a(href='')
                      img.img(src='uploads/images/footer/pinterest-on.png')
                br
                .row
                  .col-sm-6
                    a(href='')
                      img.img2(src='uploads/images/footer/android.png')
                  .col-sm-6
                    a(href='')
                      img.img2(src='uploads/images/footer/appstore.png')
          .col-sm-4
            .row
              .col-md-4.col-sm-3
              .col-md-8.col-sm-9
                a(href='')
                  img.img-responsive(src='uploads/images/footer/Ninja-1.png')
            .row
              .col-md-4.col-sm-3
              .col-md-8.col-sm-9
                a(href='')
                  img.img-responsive(src='uploads/images/footer/Speedlink-1.png')
            .row
              .col-md-4.col-sm-3
              .col-md-8.col-sm-9
                a(href='')
                  img.img-responsive(src='uploads/images/footer/Vietnampost-1.png')
        br
        .col-sm-12.text-center
          span.text-end-footer
            | Gi&#x1EA5;y ch&#x1EE9;ng nh&#x1EAD;n &Dstrok;&abreve;ng k&yacute; Kinh doanh s&#x1ED1; **0304132047** do S&#x1EDF; K&#x1EBF; ho&#x1EA1;ch v&agrave; &Dstrok;&#x1EA7;u t&#x1B0; Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh c&#x1EA5;p ng&agrave;y 28/11/2012.
        br
    .footer4.text-center
      span &copy; Copyright 11-2018
      a(href='') Information Team Ocs Chos
// /FOOTER
// FOOTER-XS
#footer-xs.visible-xs
  .container-fluid
    .footer-xs-1
      .row
        .col-xs-12
          .title
            span &Dstrok;&Abreve;NG K&Yacute; NH&#x1EAC;N B&#x1EA2;NG TIN
          form(action='', method='post')
            .input-group
              .input-group-addon
                span.glyphicon.glyphicon-pencil
              input.form-control(type='text', name='dangkiemail', placeholder='Your email', autocomplete='off')
              .input-group-btn
                button.btn.btn-info(type='submit') &Dstrok;&abreve;ng k&yacute;
    .footer-xs-2
      div
        img(src='uploads/images/footer/logo.png')
      br
      .text
        span L&#x1EA7;u 7, 387-389 Hai B&agrave; Tr&#x1B0;ng Qu&#x1EAD;n 3 TP HCM
        br
        span C&ocirc;ng Ty C&#x1ED5; Ph&#x1EA7;n Ph&aacute;t H&agrave;nh S&aacute;ch TP HCM - FAHASA
        br
        span 60 - 62 L&ecirc; L&#x1EE3;i, Qu&#x1EAD;n 1, TP. HCM, Vi&#x1EC7;t Nam
        br
        span
          | Fahasa.com nh&#x1EAD;n &dstrok;&#x1EB7;t h&agrave;ng tr&#x1EF1;c tuy&#x1EBF;n v&agrave; giao h&agrave;ng t&#x1EAD;n n&#x1A1;i.
          | KH&Ocirc;NG h&#x1ED7; tr&#x1EE3; &dstrok;&#x1EB7;t mua v&agrave; nh&#x1EAD;n h&agrave;ng tr&#x1EF1;c ti&#x1EBF;p t&#x1EA1;i v&abreve;n ph&ograve;ng c&utilde;ng nh&#x1B0; t&#x1EA5;t c&#x1EA3; H&#x1EC7; Th&#x1ED1;ng Fahasa tr&ecirc;n to&agrave;n qu&#x1ED1;c.
      br
      div
        a(href='')
          img.logo-dathongbao(src='uploads/images/footer/logo-da-thong-bao.png')
      br
      .div-img
        a(href='')
          img.img(src='uploads/images/footer/Facebook-on.png')
        a(href='')
          img.img(src='uploads/images/footer/Insta-on.png')
        a(href='')
          img.img(src='uploads/images/footer/Youtube-on.png')
        a(href='')
          img.img(src='uploads/images/footer/tumblr-on.png')
        a(href='')
          img.img(src='uploads/images/footer/twitter-on.png')
        a(href='')
          img.img(src='uploads/images/footer/pinterest-on.png')
      br
      .div-img2
        a(href='')
          img.img2(src='uploads/images/footer/android.png')
        a(href='')
          img.img2(src='uploads/images/footer/android.png')
    .footer-xs-3.text-center
      span &copy; Copyright 11-2018
      a(href='') Information Team Ocs Chos
// /FOOTER-XS
.back-top
  button
    span.glyphicon.glyphicon-chevron-up