// HEADER
#header.hidden-xs
  .container
    .header1
      a(href='')
        img.img-responsive(src='uploads/images/quangcao/Single-Day.jpg')
    .header2
      .row.row2
        .col-sm-3
          .icon-text
            span.glyphicon.glyphicon-earphone.icon
            span.text Hotline
            br
            span.text 1900636467
        .col-sm-3
          .icon-text
            span.glyphicon.glyphicon-send.icon
            span.text Mi&#x1EC5;n ph&iacute; giao h&agrave;ng
            br
            span.text(style='color: #737373') T&#x1EAD;n n&#x1A1;i to&agrave;n qu&#x1ED1;c
        .col-sm-6
          ul.nav.navbar-nav.navbar-right
            li.active
              a.link-menu(href='/') HOME
            li
              a#admin.hide(href='/admin') ADMIN
            li
              a#dangky(href='#') &Dstrok;&Abreve;NG K&Yacute;
            li
              a#dangnhap(href='#') &Dstrok;&Abreve;NG NH&#x1EAC;P
            li
              a#dangxuat(href='#') &Dstrok;&Abreve;NG XU&#x1EA4;T
    .header3
      .row
        .col-sm-3
          a(href='/')
            img.img-responsive(src='uploads/images/logo/logo.png')
        .col-sm-7
          form(action='', method='post')
            .input-group
              input.form-control(type='text', name='search', placeholder='Tìm kiếm cuốn sách bạn mong muốn', autocomplete='off')
              .input-group-btn
                button.btn(type='submit')
                  span.glyphicon.glyphicon-search
        .col-sm-2
          .link-cart
            a(href='cart.html')
              span.glyphicon.glyphicon-shopping-cart
              |  0 S&#x1EA3;n ph&#x1EA9;m
    br
    .header4
      .row
        .col-sm-3
          .dropdown.danhmucsach
            span.dropdown-toggle(data-toggle='dropdown') Danh M&#x1EE5;c S&aacute;ch
            ul.dropdown-menu.nav.drop-left.list-category
              li
                a.link-left(href='#') H&#x1ECD;c Ngo&#x1EA1;i Ng&#x1EEF;
              li
                a.link-left(href='#') Kinh T&#x1EBF;
              li
                a.link-left(href='#') Khoa H&#x1ECD;c K&itilde; Thu&#x1EAD;t
              li
                a.link-left(href='#') Nu&ocirc;i D&#x1EA1;y Con
              li
                a.link-left(href='#') S&aacute;ch Gi&aacute;o Khoa - Gi&aacute;o Tr&igrave;nh
              li
                a.link-left(href='#') S&aacute;ch Tham Kh&#x1EA3;o
              li
                a.link-left(href='#') S&aacute;ch Thi&#x1EBF;u Nhi
              li
                a.link-left(href='#') T&acirc;m L&yacute; - K&#x1EF9; N&abreve;ng S&#x1ED1;ng
              li
                a.link-left(href='#') T&#x1EEB; &Dstrok;i&#x1EC3;n
        .col-sm-9
          ul.nav.navbar-nav
            li.dropdown
              a.link-right.dropdown-toggle(href='#', data-toggle='dropdown') V&abreve;n H&#x1ECD;c
              ul.dropdown-menu.drop-vanhoc
                li.col-sm-5
                  ul.nav
                    li
                      a(href='#') Ti&#x1EC3;u Thuy&#x1EBF;t
                    li
                      a(href='#') Truy&#x1EC7;n Ng&#x1EAF;n
                    li
                      a(href='#') Truy&#x1EC7;n Trinh Th&aacute;m, Vi&#x1EC5;n T&#x1B0;&#x1EDF;ng
                    li
                      a(href='#') Th&#x1A1; Ca, T&#x1EE5;c Ng&#x1EEF;, Ca Dao, Th&agrave;nh Ng&#x1EEF;
                li.col-sm-4
                  ul.nav
                    li
                      a(href='#') V&abreve;n H&#x1ECD;c D&#x1ECB;ch
                    li
                      a(href='#') Ph&oacute;ng S&#x1EF1;, K&yacute; S&#x1EF1;, H&#x1ED3;i K&yacute;
                    li
                      a(href='#') T&aacute;c Gi&#x1EA3; - T&aacute;c Ph&#x1EA9;m
                    li
                      a(href='#') Th&#x1EC3; Lo&#x1EA1;i Kh&aacute;c
                li.col-sm-3
                  a(href='#')
                    img.img-responsive(src='uploads/images/vanhoc/vanhoc.png')
                br
                li.col-sm-12
                  a(href='#')
                    img.img-responsive(src='uploads/images/vanhoc/footer-van-hoc.jpg')
            li.dropdown
              a.link-right.dropdown-toggle(href='#', data-toggle='dropdown') Top 100 Best Seller
              ul.dropdown-menu.drop-top-100
                li.col-sm-3
                  ul.nav
                    li
                      a(href='#') V&abreve;n H&#x1ECD;c
                    li
                      a(href='#') Kinh T&#x1EBF;
                    li
                      a(href='#') K&#x1EF9; N&abreve;ng S&#x1ED1;ng
                    li
                      a(href='#') Nu&ocirc;i D&#x1EA1;y Con
                    li
                      a(href='#') Thi&#x1EBF;u Nhi
                    li
                      a(href='#') Ngo&#x1EA1;i Ng&#x1EEF;
                    li
                      a(href='#') N&#x1EEF; C&ocirc;ng Gia Ch&aacute;nh
                    li
                      a(href='#') Ch&iacute;nh Tr&#x1ECB; - Tri&#x1EBF;t H&#x1ECD;c
                li.col-sm-3
                  ul.nav
                    li
                      a(href='#') Fiction
                    li
                      a(href='#') Romance
                    li
                      a(href='#') Dictionaries
                    li
                      a(href='#') Children&apos;s Books
                    li
                      a(href='#') Biography
                    li
                      a(href='#') Food - Drink
                    li
                      a(href='#') Japanese
                    li
                      a(href='#') Mind Body Spirit
                li.col-sm-3
                  a(href='#')
                    img.img-responsive(src='uploads/images/top-100/Top100-quoc-van.jpg')
                li.col-sm-3
                  a(href='#')
                    img.img-responsive(src='uploads/images/top-100/Top-100-ngoai-van.jpg')
            li
              a.link-right(href='#') Daily Deals
// /HEADER
// HEADER-XS
#header-xs.visible-xs
  .header-xs-1
    a(href='')
      img.img-responsive(src='uploads/images/quangcao/Single-Day.jpg')
  .container-fluid
    .header-xs-2
      .row
        .col-xs-4
          .dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-align-justify
            ul.dropdown-menu.nav.list-category
              li
                a.link-left(href='dang-ki.html') &Dstrok;&Abreve;NG K&Yacute;
              li
                a#dangnhap-xs.link-left(href='#') &Dstrok;&Abreve;NG NH&#x1EAC;P
              li
                a.link-left(href='') &Dstrok;&Abreve;NG XU&#x1EA4;T
              hr
              li
                a.link-left(href='#') H&#x1ECD;c Ngo&#x1EA1;i Ng&#x1EEF;
              li
                a.link-left(href='#') Kinh T&#x1EBF;
              li
                a.link-left(href='#') Khoa H&#x1ECD;c K&itilde; Thu&#x1EAD;t
              li
                a.link-left(href='#') Nu&ocirc;i D&#x1EA1;y Con
              li
                a.link-left(href='#') S&aacute;ch Gi&aacute;o Khoa - Gi&aacute;o Tr&igrave;nh
              li
                a.link-left(href='#') S&aacute;ch Tham Kh&#x1EA3;o
              li
                a.link-left(href='#') S&aacute;ch Thi&#x1EBF;u Nhi
              li
                a.link-left(href='#') T&acirc;m L&yacute; - K&#x1EF9; N&abreve;ng S&#x1ED1;ng
              li
                a.link-left(href='#') T&#x1EEB; &Dstrok;i&#x1EC3;n
        .col-xs-4
          a(href='home.html')
            img.img-responsive(src='uploads/images/logo/logo.png')
        .col-xs-4.text-right
          a(href='#')
            span.glyphicon.glyphicon-briefcase
            sup.badge 0
    br
    .header-xs-3
      .row
        .col-xs-12
          form(action='', method='post')
            .input-group
              input.form-control(type='text', name='search', placeholder='Tìm kiếm cuốn sách bạn mong muốn', autocomplete='off')
              .input-group-btn
                button.btn(type='submit')
                  span.glyphicon.glyphicon-search
    br
// HEADER-XS