// LOGIN
#login
  .container
    #modal-client.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            span.glyphicon.glyphicon-user
            span.title-dangnhap ĐĂNG NHẬP
          .modal-body
            form(method='post')
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-envelope
                input.form-control(type='text', name='username', placeholder='Nhập username', autocomplete='off', required)
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-lock
                input.form-control(type='password', name='password', placeholder='Mật khẩu', required)
              .checkbox
                a(href='') QUÊN MẬT KHẨU
              .button
                button#btnSignIn.btn.btn-success.btn-block(type='button') ĐĂNG NHẬP
              p
                | Chưa có tài khoản vui lòng
                a(href='/sign-up')  ĐĂNG KÝ
          .modal-footer
            a(href='')
              img(src='uploads/images/login/google.png')
            a(href='')
              img(src='uploads/images/login/facebook.png')
// LOGIN

#modal-admin.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            span.glyphicon.glyphicon-user
            span.title-dangnhap ĐĂNG NHẬP
          .modal-body
            form(method='post')
              .input-group(style='margin-bottom: 2rem;')
                .input-group-addon
                  span.glyphicon.glyphicon-envelope
                input.form-control(type='text', name='usernameAdmin', placeholder='Nhập username', autocomplete='off')
              .input-group(style='margin-bottom: 2rem;')
                .input-group-addon
                  span.glyphicon.glyphicon-lock
                input.form-control(type='password', name='passwordAdmin', placeholder='Mật khẩu')
              .button
                button#btnSignInAdmin.btn.btn-success.btn-block(type='button') ĐĂNG NHẬP